.navbar-absolute{
    position: absolute;
    width: calc(100%  - var(--sidebar-width));
    margin-left: var(--sidebar-width);
    padding-top: 5px;
    z-index: 1;
    padding-bottom: 5px;
    border-bottom: 1px solid #e7e7e7;
    top: 0;

    -webkit-font-smoothing: auto;
}

.navbar{
    background-color: #fff;
    color: #555;
    min-height: var(--nav-bar-heigth);
    transition: all 150ms ease 0s;
}

.container-fluid{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    width: 100%;
}

ion-navbar{
    display: flex;
    align-items: center;
}

.navbar-collapse{
    border-top: none;
    box-shadow: none;

    padding-right: 15px;
    padding-left: 15px;
}

.navbar-right{
    float: right;

    display: inline-flex;
    align-items: center;
}

.navbar-left{
    float: left;
}

.simulate-visitor-btn{
    font-size: 12px;
    padding: 0px 11px 0px 4px !important;
    max-height: 24px;
    border-radius: 30px;
    font-family: 'Google Sans', sans-serif !important;

}

.btn{
    display: flex;
    position: relative;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;

    border: 1px solid transparent;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
}

.btn-success-no-boxshadow{
    box-shadow: unset!important;
    text-transform: none!important;
    padding: 9px 15px!important;
    background: #3ecf8e!important;
    font-size: 14px;

    color: #fff;
}

.dropdown-toggle, .volume{
    background-color: transparent;
    color: inherit;

    padding: 0px 15px;
    font-weight: 400;
}

.project-dropdown {
    max-width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
}

li{
    position: relative;
    display: block
}

.dropdown-menu {
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgb(0, 0, 0, 0.26);

    position: absolute;
    top: 100%;
    right: 0;
    left: auto;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
.dropdown-menu{
    max-height: 240px;
    overflow-y: auto;
}
.dropdown-menu:not(.open){
    margin-top: -20px;
    opacity: 0;
    visibility: hidden;
    display: block;
}

.dropdown-menu.open{
    margin-top: 12px; //0;
    opacity: 1;
    visibility: visible;
    display: block;
    transition: all 150ms linear;
}

.dropdown-menu li {
    position: relative;
}

.dropdown-menu .divider{
    background-color: rgba(0,0,0,.12);
    margin: 5px 0;

    height: 1px;
    overflow: hidden;
}

.dropdown-menu li>a{
    font-size: 13px;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 2px;
    transition: all 150ms linear;

    display: block;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    text-decoration: none;

    cursor: pointer;

    .material-icons {
        vertical-align: middle;
    }

    &:hover{
        background-color: #3ea9f5;
        color: #fff;
        box-shadow: 0 12px 20px -10px rgba(62, 169, 245, 0.28), 0 4px 20px 0 rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(62, 169, 245, 0.2);
    }
}


.material-icons {
    font-family: "Material Icons";
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-feature-settings: "liga";

    top: 0;
    position: relative;
    font-size: 20px;
    vertical-align: middle;
}

.ripple-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: inherit;
    pointer-events: none;

    .disabled &{
        display: none;
    }
}
.ripple {
    position: absolute;
    width: 20px;
    height: 20px;
    margin-left: -10px;
    margin-top: -10px;
    border-radius: 100%;
    background-color: #000; // fallback color
    background-color: rgba(0,0,0,0.05);
    transform: scale(1);
    transform-origin: 50%;
    opacity: 0;
    pointer-events: none;
}
.ripple.ripple-on {
    transition: opacity 0.15s ease-in 0s, transform 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0.1s;
    opacity: 0.1;
}
.ripple.ripple-out {
    transition: opacity 0.1s linear 0s !important;
    opacity: 0;
}



